.parent{

	display: flex;
	
	flex-direction: row;	
	height: 100px;
	width:1000px;
}
.item{
	background-color: tomato;
	margin: 5px;
	
	width:100px;
	text-align: center;
	flex-grow: 1;

}
.item:nth-child(2){
	flex-grow: 4;
}
